
    {% for item in menu %}
      {% if not loop.last %}
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 footer-column">
        <div class="block block-block-content">
          <h2 class="block-title"><span>{{ item.title }}</span></h2>
          <ul class="menu">
            {% for child in item.children %}
              <li><a href="{{ child.url }}">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% endfor %}
