<div class="row" id="Block_rh">
  <div class="col-md-12" style="display:none;">
    <h2>{{ data.title }}</h2>
  </div>
  <div class="col-md-12">
    <h2>{{ data.content|raw }}</h2>
  </div>
</div>
<section class="human-resources">
  <div class="container">
    <div class="row">
      {% for key, humanResource in humanResources %}
        <div class="col-md-4">
          <div id="{{ humanResource.id }}"></div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-12">
    {{ data.content2|raw }}
  </div>
</div>
