<div class="full-container">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h2>{{ "Organigramme"|t }}</h2>
    </div>
  
    {{ content|raw }}
  </div>
  
  
  <figure class="highcharts-figure">
    <div class="fullscreen-container" id="Orgcontainer"></div>
  </figure>
  