<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
    <div class="topbar-information">
      <ul class="infor-list">
        <li class="address d-xl-block d-lg-block d-md-block d-none"><i class="fas fa-map-marked-alt"></i>{{ contact.address }}</li>
        <li class="phone d-xl-block d-lg-block d-md-block d-sm-block d-none"><i class="fas fa-phone-alt"></i>{{ contact.phone }}</li>
        <li class="address"><i class="fas fa-envelope-open-text"></i>{{ contact.email }}</li>
      </ul>
    </div>
  </div>
</div>
