{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set title_classes = '' %}
{% if label == '' %}
{% set title_classes = 'no-title' %}
{% endif %}
{%
  set classes = [
    'block drv-block-breadcrumb',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    title_classes
  ]
%}

<section class="page-section bg-gray-light-1 bg-light-alpha-90 parallax-5"
         style="background-image: url(themes/custom/dardev_theme/images/full-width-images/section-bg-1.jpg)" id="home">
  <div class="container position-relative pt-30 pt-sm-50">

    <!-- Section Content -->
    <div class="text-center">
      <div class="row">

        <!-- Page Title -->
        <div class="col-md-8 offset-md-2">

          <h1 class="hs-title-1 mb-20">
            <span class="wow charsAnimIn" data-splitting="chars">{{ breadcrumb_title }}</span>
          </h1>

          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <p class="section-descr mb-0 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1.2s">
                {% if services is defined %}{{ services }}{% endif %}
              </p>
            </div>
          </div>

        </div>
        <!-- End Page Title -->

      </div>
    </div>
    <!-- End Section Content -->
  </div>
</section>

