<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    {% for elem in slide %}
    <div class="carousel-item {{ loop.first ? 'active' : '' }} h-100"
         style="background-image: url('{{ elem.image }}'); background-size: cover;">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
    <span><i class="carousel-control-prev-icon" aria-hidden="true"></i></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
    <span><i class="carousel-control-next-icon" aria-hidden="true"></i></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
