$theme_color: 		#FF4A17;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #FF4A17;
$brand-primary:    #FF4A17;