

     <div class="works-filter text-center mb-60 mb-sm-40 z-index-1">
       <a href="#" class="filter active" role="button" aria-pressed="true" data-filter="*">All works</a>

       {% for term in terms %}
       <a href="#{{term.tid}}" class="filter" role="button" aria-pressed="false" data-filter=".{{term.tid}}">{{term.name}}</a>
       {% endfor %}
     </div>

     <ul class="works-grid work-grid-3 work-grid-gut clearfix hide-titles hover-white" id="work-grid">
       {% for row in rows %}
         {{ row.content|raw }}
       {% endfor %}
     </ul>


