   

{% if attributes -%}
      <div{{ attributes }} >
{% endif %}
       
      {% for row in rows %}
      
         {{ row.content|raw }}   
                                  
      {% endfor %}
                        
{% if attributes -%}
</div>
{% endif %}