.gsc-chart{
   display: flex;
   align-items: center;
   @include media-breakpoint-down(md){
      margin-bottom: 30px;
   }
   .easyPieChart{
      margin-right: 20px;
      color: $black-2;
      min-width: 150px;
   }
   .title{
      text-transform: uppercase;
   }
}