<article class="testimonial-node-2">      
   <div class="testimonial-content">
      <div class="icon">“</div> 
      <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
      <h4 class="name">{{ fields.field_testimonial_name.content }}</h4>
   </div>
</article>
  