

<div>
    <blockquote class="mb-0">
        
        <div class="blockquote-icon" aria-hidden="true">”</div>
        
        <p>
            {{ fields.body.content|striptags|trim }}
        </p>
        
        <div class="section-line mt-40"></div>
        
        <footer class="ts1-author mt-20 clearfix">
            <div class="ts1-author-img float-start">
                <img class="rounded-circle" width="44" height="44" src="{{ fields.field_testimonial_avatar.content|striptags|trim  }}" alt="Image description is here" />
            </div>                                                    
            <div>
                {{ fields.field_testimonial_name.content|striptags|trim  }}
                <div class="small">
                    {{ fields.field_testimonial_job.content|striptags|trim  }}
                </div>
            </div>                                                    
        </footer>
        
    </blockquote>
</div>