

<div class="carousel-item">
    <div class="img-box"><img src="{{ fields.field_testimonial_image.content|striptags|trim  }}" alt=""></div>
    <p class="testimonial"> {{ fields.body.content|striptags|trim }}</p>
    <p class="overview"><b>{{ fields.field_testimonial_name.content|striptags|trim  }}</b>{{ fields.field_testimonial_job.content|striptags|trim  }} <a href="#">OsCorp Tech.</a></p>
    <div class="star-rating">
        <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
        </ul>
    </div>
</div>
