{#
/**
 * @file
 * Contains the text of the dardev_newsletter explanation page
 */
#}

<div class='dardev_newsletter-description'>
{% trans %}
    <p>The page contain information about registration emails for Newsletter  .</p>
    <p>list of users</p>
    <p>delete and update operations</p>
{% endtrans %}
</div>
