{#
  /**
   * @file
   * Contains the text of the dardev_newsletter explanation page
   */
  #}
  <div class="newsletter-bg">
      <div class="auto-container">
          <div class="newsletter-box">
  <div class="form-box form-inline">
  {{ form.form }}
  </div>
  </div>
  </div>
  </div>
  