<!-- Footer -->
<footer class="page-section footer bg-gray-light-1 pb-30">
    <div class="container">

        <div class="row pb-120 pb-sm-80 pb-xs-50">

          {{ page.footer_first }}


        </div>

        <!-- Footer Text -->
        <div class="row text-gray">

            <div class="col-md-4 col-lg-3">
                <b>© Bestlooker 2023.</b>
            </div>

            <div class="col-md-7 offset-md-1 offset-lg-2 clearfix">

                <b>Based in London, United Kingdom.</b>

                <!-- Back to Top Link -->
                <div class="local-scroll float-end mt-n20 mt-sm-10">
                    <a href="#top" class="link-to-top">
                        <i class="mi-arrow-up size-24"></i>
                        <span class="visually-hidden">Scroll to top</span>
                    </a>
                </div>
                <!-- End Back to Top Link -->

            </div>

        </div>
        <!-- End Footer Text -->

     </div>
</footer>
