<!-- Navigation Panel -->
            <nav class="main-nav transparent stick-fixed wow-menubar">
                <div class="main-nav-sub full-wrapper">
                    
                    
                    <div class="nav-logo-wrap local-scroll">
                        
                        {{ page.branding }}
                    </div>
                    
                    <!-- Mobile Menu Button -->
                    <div class="mobile-nav" role="button" tabindex="0">
                        <i class="mobile-nav-icon"></i>
                        <span class="visually-hidden">Menu</span>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        {% if page.main_menu %}
                              {{ page.main_menu }}
                            {% endif %}
                        {# Render the menu using the macro #}
                                {{ menus.menu_links(menu_items) }}
                        <ul class="items-end clearlist">
                            
                            <!-- Languages -->
                            <li>
                                <a href="#" class="mn-has-sub opacity-1">En <i class="mi-chevron-down"></i></a>
                                
                                <ul class="mn-sub to-left">                                    
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>                                    
                                </ul>
                                
                            </li>
                            <!-- End Languages -->  
                                                      
                            <li><a href="main-pages-contact-1.html" class="opacity-1 no-hover"><span class="link-hover-anim underline" data-link-animate="y">Let's work together</span></a></li>
                            
                        </ul>                        
                        
                    </div>
                    <!-- End Main Menu -->
                    
                </div>
            </nav>
            <!-- End Navigation Panel -->