{#
/**
 * @file
 * Dardev's theme implementation to display a single Drupal page.
 */
#}
{% set has_breadcrumb = '' %}
<div class="page" id="top">
  {% include header_skin %}

  <main id="main">
    {% include '@dardev_theme/page/main.html.twig' %}
  </main>
  {% if page.highlighted %}
    <div class="highlighted area">
      <div class="container">
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}

  {% if page.after_content %}
    <div class="area after-content">
      <div class="container">
        <div class="content-inner">
          {{ page.after_content }}
        </div>
      </div>
    </div>
  {% endif %}


  {% include '@dardev_theme/page/footer.html.twig' %}
</div>

{% include '@dardev_theme/page/parts/quick-side.html.twig' %}
