    <div class="post-prev-container">
    
        <div class="post-prev-img">
            <a href="main-blog-single-sidebar-right.html">{{ content.field_service_images }}</a>
        </div>
        
        <h4 class="post-prev-title"><a href="main-blog-single-sidebar-right.html">{{ label }}</a></h4>
            
        <div class="post-prev-text">
          {{ content.body }}
        </div>
        
        <div class="post-prev-info clearfix">
            <div class="float-start">
                <a href="#"><img class="post-prev-author-img" width="30" height="30" src="images/blog/author/author-1.jpg" alt="Image Description" /></a><a href="#">Adam Smith</a>
            </div>
            <div class="float-end"><a href="#">August 3</a></div>
        </div>
    
    </div>                                

   