

<div class="card">
    {% if content.field_testimonial_image is not empty %}
    {% set image_file = content.field_testimonial_image['#items'].entity.uri.value %}
    <div class="img-card">
        <img src="{{ file_url(image_file) }}"
            alt="{{content.field_testimonial_name|render|striptags|trim}}">
    </div>
    {% endif %}
    <div class="testimonial mt-4 mb-2">
        {{content.body|render|striptags|trim}}
    </div>
    <div class="name">
        {{content.field_testimonial_name|render|striptags|trim}}
    </div>
</div>