{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<section class="page-section bg-gray-light-1 bg-light-alpha-90 parallax-5"
         style="background-image: url(themes/custom/dardev_theme/images/full-width-images/section-bg-1.jpg)" id="home">
  <div class="container position-relative pt-30 pt-sm-50">

    <!-- Section Content -->
    <div class="text-center">
      <div class="row">

        <!-- Page Title -->
        <div class="col-md-8 offset-md-2">

          <h1 class="hs-title-1 mb-20">
            <span class="wow charsAnimIn" data-splitting="chars">{{ view.title }}</span>
          </h1>

          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <p class="section-descr mb-0 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1.2s">
                {{ "Listing"|t }}
              </p>
            </div>
          </div>

        </div>
        <!-- End Page Title -->

      </div>
    </div>
    <!-- End Section Content -->
  </div>
</section>
<section class="page-section">
  <div class="container relative">
    <div class="row mt-n30 mb-60 mb-sm-40">
  {% for row in rows %}
    {% set row_classes = [
      default_row_class ? 'item',
    ] %}
      {{ row.content }}
  {% endfor %}
    </div>
  </div>
</section>
